nav ul.nav {
    justify-content: center;
}

nav {
    background-color: rgb(7, 7, 71);
    position: fixed;
    width: 100%;
    z-index: 10;
}
.nav-space {
    height: 5vh;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(7, 7, 71);
}

.nav-item:hover {
    background-color: white;
}

footer {
    width: 100%;
    background-color: rgb(7, 7, 71);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    text-align: center;
    color:grey;
}
