#newlist-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.sepline {
    background-color: rgb(7, 7, 71);
    width: 1px;
    height: 90vh;
    margin: auto 50px auto 50px;
}

@media only screen and (max-width: 768px) {
    #newlist-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sepline {
        background-color: rgb(7, 7, 71);
        height: 1px;
        width: 90vw;
        margin: 50px auto 50px auto;
    }
}
