#newlist-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.vertsep {
    background-color: rgb(7, 7, 71);
    width: 1px;
    height: 80vh;
    margin: 0 50px 0 50px;
}

@media only screen and (max-width: 768px) {
    #newlist-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
